.header__logo {
  margin: 45px auto 36px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    box-sizing: border-box;
    width: 103.74px;
    height: 24.4px;
    margin: 28px auto 26.6px 25px;
  }
}