.profile__edit-avatar {
  background: #000 url('../../../images/edit-avatar.svg') no-repeat center;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 100%;
  position: absolute;
  padding: 0;
  opacity: 0;
}

.profile__edit-avatar:hover {
  opacity: 0.8;
  cursor: pointer;
}