.popup {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out;
  transition-property: opacity, visibility;
  transition-duration: 0.7s, 0s;
  transition-delay: 0s, 0.7s;
}

@media screen and (max-width: 540px) {
  .popup {
    top: 54px;
  }
}