.popup__container {
  position: relative;
  left: 0px;
  right: 0px;
  background-color: #fff;
  z-index: 1;
  border-radius: 10px;
  min-width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 39px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 540px) {
  .popup__container {
    min-width: 282px;
    padding: 0;
  }
}