.profile__add-button {
  background: url('../../../images/add-button.svg') no-repeat;
  width: 150px;
  height: 50px;
  border-style: none;
  border: none;
  margin: 19px 0 0 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s linear;
}

@media screen and (max-width: 800px) {
  .profile__add-button {
    grid-row: 2;
    grid-column: 2 / 3;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .profile__add-button {
    width: 282px;
    background-image: url('../../../images/add-button-big.svg');
    margin: 18px 0 0 0;
  }
}